python-dotenv
streamlit
streamlit_markdown
openai
jupyter
pandas
groq
langchain
langchain-openai
langchain-groq
langchain-core
langchain_community
ollama
cmake
llama-cpp-python
huggingface_hub
faiss-cpu
